{% extends "menu.html" %}

{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Individual Project for CUS1166 -</h1>
      <p class="lead">Get ready to showcase your Software Engineering Skills!</p>
      <ul class="list-unstyled">
        <li> Applying agile methodoloies in software development </li>
        <li>Realizing a full sprint implementing use-case  </li>
        <li> Using Flask, ORMs, Forms to implement new features </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
