{% extends "menu.html" %}

{% block main_content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title">CUS1166 - Todo List</h4>
                        <form method="POST" action="{{url_for('main.todolist')}}" >

                        <div class="add-items d-flex">
                                <!-- csrf_token is required to validate the form -->
                                {{ form.csrf_token }}
                                {{ form.task_desc(class_='form-control todo-list-input', placeholder='What do you need to do today?')}}
                                {{ form.task_status_completed }}
                                <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button>
                       </div>
                     </form>

                       <!-- Show current tasks if avaiblae -->
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list">
                             {% for task in todo_list %}

                                {% if 'done' == task.task_status%}
                                    <li class="completed">
                                {% else %}
                                    <li>
                                {% endif %}
                                    <a href="{{url_for('main.edit_task',task_id=task.task_id)}}">
                                         <i class="fas fa-edit"></i>
                                    </a>

                                    <div class="form-check">

                                      <label class="form-check-label">
                                          {% if 'done' == task.task_status %}
                                            {{task.task_desc}} - <span class="badge badge-success">{{task.task_status}}</span>
                                          {% elif 'doing' == task.task_status %}
                                            {{task.task_desc}} - <span class="badge badge-warning">{{task.task_status}}</span>
                                          {% elif 'todo' == task.task_status %}
                                             {{task.task_desc}} - <span class="badge badge-danger">{{task.task_status}}</span>
                                          {% endif %}
                                            <i class="input-helper"></i>
                                      </label>
                                    </div>
                                    <a href="{{url_for('main.remove_task',task_id=task.task_id)}}" class="remove"><i class="fas fa-times"></i></a>
                              </li>
                             {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
